$Soft-blue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);
$Very-dark-blue-main-BG: hsl(217, 54%, 11%);
$Very-dark-blue-card-BG: hsl(216, 50%, 16%);
$Very-dark-blue-line: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);

$border-radius: 1.2rem;

@mixin only-for-desktop-tablet {
  @media (min-width: 767px) { @content; }
}

@mixin font($size, $weight, $color) {
  font-family: 'Outfit', sans-serif;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin margin($top){
  margin-top: $top;
}

@mixin beforeIcon($width, $height, $imageURL) {
  content: '';
  width: $width;
  height: $height;
  margin-right: .8rem;
  display: inline-block;
  background-image: $imageURL;
  background-size: cover;
  background-repeat: no-repeat;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  background-color: $Very-dark-blue-main-BG;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

@import 'card'